/* .profile{
  text-align: center;
  background-color: oldlace;
} */

.description{
    padding: 40px 0 40px;
}

.user_avatar{
    margin: auto;
    width: 80px;
    border-radius: 50%;
}

.name{
    margin-top: 40px;
}

.tag{
    margin: 10px 0 10px;
}

.stats{
    display: flex;
    justify-content: center;
}

.label{
    display: block;
}

.quantity{
    display: block;
}

.stats_item{
    width: 3.3333%;
    padding: 15px;
    flex-basis: calc((100% - 3 * 30px) / 3);
    background-color: antiquewhite;
    border-top: 1px solid tomato; 
    border-right: 1px solid tomato;
}

.stats_item:last-child{
    border-right: 0;
}

.name, .quantity{
    font-weight: 700;
}

.tag, .location, .label{
    font-weight: 300;
}