.transaction_history{
    width: 100%;
    text-align:center;  
}

.transaction_history th{
    font-weight: 500;
    padding: 5px;
    color: aliceblue;
    background-color: cornflowerblue;
}


.transaction_history tr:nth-child(even) {
    background: #ebf3f9;
}